<div>
    <h2 translate="myhealthApp.dateEntity.home.title">DateEntitys</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="dateEntity.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="myhealthApp.dateEntity.home.createLabel">Create a new DateEntity</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="firstDate"><span translate="myhealthApp.dateEntity.firstDate">FirstDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="secondDate"><span translate="myhealthApp.dateEntity.secondDate">SecondDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="test"><span translate="myhealthApp.dateEntity.test">Test</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dateEntity in dateEntitys track by dateEntity.id">
                    <td><a ui-sref="dateEntity.detail({id:dateEntity.id})">{{dateEntity.id}}</a></td>
                        <td>{{dateEntity.firstDate | date:'mediumDate'}}</td>
                    <td>{{dateEntity.secondDate | date:'medium'}}</td>
                    <td>{{dateEntity.test}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="dateEntity.detail({id:dateEntity.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="dateEntity.edit({id:dateEntity.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="dateEntity.delete({id:dateEntity.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
